/* Clases reutilizables */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container-flex-column {
  display: flex;
	flex-direction: column;
  justify-content: center;
	padding: 2em;
}

.gradient {
  background: linear-gradient(#530060, #da0987);
}

.vh100 {
	height: 100vh;
}

.pimg {
  width: 40%;
}

.bottom {
  vertical-align: bottom;
}
.next-btn {
  width: 90%;
  padding: 0.5em;
}
/* Clases específicas */
.main-view-lyftlyfe-logo{
  margin-top: 15%;
  margin-bottom: 18%;
}

/* .logo-main-view-1 {
  transform: translate(0,40px);
}

.logo-main-view-2 {
  transform: translate(0,-40px);
} */

.main-view-lyftlyfe-logo img {
  padding-left: 0;
  padding-right: 0;
}

.btn-main-view {
  background-color: transparent;
  border: 0.063em solid #fff;
  padding: 1em;
}

hr {
  margin-top: 0.313em;
}

.info-button-signup, .info-button-verify-number, .info-button-fill-data {
  margin-top: 1em;
}
