/* Clases reutilizables */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container-flex-column {
  display: flex;
	flex-direction: column;
  align-items: center;
	padding: 2em;
}

.gradient {
  background: linear-gradient(#530060, #da0987);;
}

.vh100 {
	height: 100vh;
}
/* Clases específicas */
.main-view-pink-logos{
  margin-top: 25%;
  margin-bottom: 28%;
}

.logo-main-view-1 {
  transform: translate(0,40px);
}

.logo-main-view-2 {
  transform: translate(0,-40px);
}

.btn-main-view {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 1em;
}
