<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lyft</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,
maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <header>
      <!-- Botón para regresar atrás (verificación de número telefónico) -->
      <div class="slide-buttons">
		    <a href="verify-number.html" type="button" class="btn btn-success">
			  <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
		    </a>
	    </div>
      <h1 class="text-center text-capitalize">sign up</h1>
      <p class="text-center">Join now for free ride credit</p>
      <hr>
    </header>

    <section class="fill-data">
      <!-- Ingreso de nombre, apellido y correo electrónico -->
      <form class="" action="index.html" method="post">
        <input type="text" placeholder="First name">
        <input type="text" placeholder="Last name">
        <input type="text" placeholder="Email">
        <br>
        <br>
        <!-- Checkbox de estar de acuerdo con los términos del servicio -->
        <p class="text-center"><label class="text-center">
				  <input type="checkbox">
			  </label>I agree to Lyft's <a href="#">Terms of service</a></p>
      </form>
    </section>

    <section class="info-button-fill-data">
      <!-- Botón que se habilita al completar los datos personales y pasar a la siguiente vista (vista final) -->
      <button type="button" name="button" class="text-uppercase center-block next-btn" disabled>next</button>
    </section>


    <!-- Jquery -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <!-- Javascript -->
    <script type="text/javascript" src="../js/filling-data.js"></script>
  </body>
</html>
