<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lyft</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,
maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../vendors/flag-icon-css/css/flag-icon.css">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <header>
      <!-- Botón para regresar atrás (vista principal) -->
      <div class="slide-buttons">
		    <a href="main-view.html" type="button" class="btn btn-success">
			  <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
		    </a>
	    </div>
      <h1 class="text-center text-capitalize">sign up</h1>
      <p class="text-center">Join now for free ride credit</p>
      <hr>
    </header>

    <section class="text-center">
      <!-- Selección de países -->
      <div class="btn-group">
		      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				      <span data-bind="label">Country</span>&nbsp;<span class="caret"></span>
			     </button>
				   <ul class="dropdown-menu" role="menu">
				       <li><a href="#"><span class="flag-icon flag-icon-mx"></span>Mexico</a></li>
				       <li><a href="#"><span class="flag-icon flag-icon-co"></span>Colombia</a></li>
  		  		   <li><a href="#"><span class="flag-icon flag-icon-pe"></span>Peru</a></li>
  				     <li><a href="#"><span class="flag-icon flag-icon-us"></span>United states</a></li>
				  </ul>
			 </div>

      <select class="country-select" name="">
        <option value="mexico">Mexico</option>
        <option value="colombia">Colombia</option>
        <option value="peru">Peru</option>
        <option value="eeuu">United States</option>
     </select>
      <!-- Ingreso de número telefónico según cada país -->
      <input type="text" name="" value="">
      <input type="text" name="" value="" hidden>
      <input type="text" name="" value="" hidden>
      <input type="text" name="" value="" hidden>
    </section>

    <section class="info-button-signup">
      <p class="text-center">We'll send you a text to verify your phone</p>
      <br>
      <!-- Botón que se habilita al completar el número telefónico para brindar un código y pasar a la siguiente vista (vista de verificación de número telefónico) -->
      <button type="button" name="button" class="text-uppercase center-block next-btn" disabled>next</button>
    </section>


    <!-- Jquery -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <!-- Javascript -->
    <script type="text/javascript" src="../js/signup.js"></script>
  </body>
</html>
